<!doctype html>
<title>Admin</title>
<h1>Admin Page</h1>

<form action="/addgame">
  <label for="new_gid">Enter New Game ID:</label><br>
  <input type="text" id="new_gid" name="new_gid" value=""><br><br>
  <label for="num_words">Words Per Person:</label><br>
  <input type="number" id="num_words" name="num_words" value="5"><br><br>
  <label for="t1">Round 1 Seconds:</label><br>
  <input type="number" id="t1" name="t1" value="30"><br><br>
  <label for="t2">Round 2 Seconds:</label><br>
  <input type="number" id="t2" name="t2" value="30"><br><br>
  <label for="t3">Round 3 Seconds:</label><br>
  <input type="number" id="t3" name="t3" value="30"><br><br>
  <input type="submit" value="Submit">
</form>
