<!doctype html>
<title>Game Over</title>
<h1>{{ winner_str }}</h1>

<h3> Team A: {{ score_a }}</h3>
<ul>
{% for name in names_a %}
    <li>{{ name }}</li>
{% endfor %}
</ul>

<h3> Team B: {{ score_b }}</h3>
<ul>
{% for name in names_b %}
    <li>{{ name }}</li>
{% endfor %}
</ul>

<h3> Game Stats </h3>
<ul>
    <li>MVP: {{ mvp_name }} ({{ mvp_points }} points)</li>
    <li>Hardest Word: {{ hardest_word }} ({{ hardest_time }} seconds)</li>
    <li>Easiest Word: {{ easiest_word }} ({{ easiest_time }} seconds)</li>
</ul>


<a href="/">Play Again!</a>
