<!doctype html>
<title>Roster</title>
<h1>My Turn</h1>

<h3 id="time_remaining"></h3>

<h2 id="current_word">...</h2>

<button id="start_button" type="button">START!</button>
<button id="yes_button" type="button" style="background-color:#33ff33; font-size: 20px; padding: 20px 15px">YES!</button>
<button id="no_button" type="button" style="background-color:red; font-size: 20px; padding: 20px 20px">NO!</button>
<button id="submit_button" type="button">SUBMIT!</button>

<h4 id="correct_heading">Correct Words</h4>
<ul id="correct_list">
</ul>

<h4 id="miss_heading">Missed Words</h4>
<ul id="miss_list">
</ul>

<script type="text/javascript">
    var words = {{ words|safe }}
    var wids = {{ wids|safe }}
    var counter_start = {{ time_remaining }}
</script>

<script type="text/javascript" src="/static/scripts/myturn.js"></script>