<!doctype html>
<title>Roster</title>
<h1>Game Participants</h1>

<ul>
{% for name in names %}
    <li>{{ name }}</li>
{% endfor %}
</ul>

<p>Waiting for players...</p>

<form action="/preparegame/">
    {% if captain %}
    <input type="submit" value="Start Game!" />
    {% else %}
    <input type="submit" value="Update" />
    {% endif %}
</form>

{% if captain %}
<p>You are the captain...you decide when to start!</p>
{% else %}
<p> {{ captain_name }} is the captain!</p>
{% endif %}

<button id="beep_button" type="button">Beep!</button>

<script type="text/javascript" src="/static/scripts/beeptest.js"></script>