/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
.footer {
  margin-top: 4rem;
  font-size: 1.2rem;
  text-align: center; }
.center-block {
  width: 20rem;
  margin: 0 auto; }
.center-text {
  text-align: center; }
.left-text {
  text-align: left; }
.right-text {
  text-align: right; }
.large-text {
  font-size: 2rem; }
.smalltop {
  margin-top: 3rem; }
.smallbottom {
  margin-bottom: 1rem; }
.nextpar {
  margin-top: -1em; }
.center {
  text-align: center; }

/* Page-Specific Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.welcome-title {
  max-width: 30rem; }
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 67%; }
.admin-label {
  display: inline; }
.admin-input {
  width: 10rem; }
.game-id-box {
  position: absolute;
  top: 5px;
  right: 5px; }
.game-id-text {
  margin: .5rem 1rem;
  font-size: 2rem; }
.myturn, .time-box, .word-box, .bottom-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
.time-box {
  width: 10rem;
  margin: 3rem auto 0rem auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-family: sans-serif;
  font-size: 8rem;
  text-align: center; }
.word-box {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  text-align: center; }
.bottom-box {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%); }
.final-stats {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.double-button {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
.update-button, .start-turn-button {
  margin-bottom: 1.5rem;
  font-size: 1.7rem; }
.button.button-primary.start-game-button {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #00E04C;
  border-color: #00E04C;
  font-size: 1.6rem; }
.button.button-primary.start-turn-button {
  background-color: #00E04C;
  border-color: #00E04C; }
.button.button-primary.waiting-button {
  width: 15rem;
  font-size: 1.6rem; }
button.button-primary.turn-button {
  width: 100%;
  height: 10rem;
  margin-bottom: 0;
  font-size: 5rem;
  padding-top:1rem; }
.one-half.column.no-margin {
  width: 50%;
  margin-left: 0; }
button.button-primary.turn-button.yes-button {
  background-color: #33C433;
  border-color: #33C433;
  height: 20rem;
  font-size: 10rem; }
button.button-primary.turn-button.no-button {
  background-color: #FF1B09;
  border-color: #FF1B09;
  height: 20rem;
  font-size: 10rem; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.waiting-table {
  margin-left: auto;
  margin-right: auto;
  font-size:2rem;
  border: none; }
.waiting-table td {
  padding: 0.3rem 1.5rem;
  border: none; }
.score-width {
  width: 100%; }
.score-table {
  margin-left: auto;
  margin-right: auto;
  font-size:2rem; }
.box-score-table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  font-size: 1.5rem; }
.box-score-table td {
  border: 1px solid #E1E1E1;}
.box-score-table tbody tr:last-child {
  border-top: 2px solid #E1E1E1; }
.box-score-table td:last-child {
  border-left: 2px solid #E1E1E1; }
.roster-table {
  margin: 1.5rem auto 0rem; }
.score-table td {
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1; }
.score-table td:last-child {
  border-left: 3px solid #E1E1E1; }
.roster-table td {
  width: 50%;
  padding: 0.5rem 1.5rem;
  border: none; }
.roster-table td:last-child {
  border-left: 1px solid #E1E1E1; }
.roster-table th:last-child {
  border-left: 1px solid #E1E1E1; }
.word-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0; }
.word-table td {
  width: 50%;
  text-align: right;
  padding: 0.2rem 1.5rem;
  border: none; }
.word-table td:last-child {
  text-align: left; }


/* Larger than phone */
@media (min-width: 550px) {
  .myturn, .time-box, .word-box, .bottom-box {
    max-width: 550px; }
  .welcome-title {
    max-width: 100%; }
  .header {
    margin-top: 8rem; }
  .score-header {
    margin-top: 6rem; }
  .center-image {
    width: 50%; }
  .score-width {
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
}


/* Nav Menu 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navcontainer {
  margin: 0 0;
  z-index: 99; }

#pagesPopover {
  left: 0%;
}

#aboutPopover {
  left: -35%;
}

@media (min-width: 300px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-left: 2rem; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 15px; /* custom for budget-tracker */
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -25%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

@media (min-width: 400px) {
  .navbar-link {
    margin-right: 30px;
  }
}
